[submodule "bitcoin"]
	path = bitcoin
	url = https://github.com/bitcoin/bitcoin.git

[submodule "dependencies/zlib"]
	path = dependencies/zlib
	url = https://github.com/madler/zlib.git

[submodule "dependencies/openssl"]
	path = dependencies/openssl
	url = https://github.com/openssl/openssl.git

[submodule "dependencies/boost"]
	path = dependencies/boost
	url = https://github.com/boostorg/boost.git

[submodule "dependencies/qt"]
	
	path = dependencies/qt
	
	url = https://github.com/qtproject/qt5.git


[submodule "dependencies/miniupnp"]
	
	path = dependencies/miniupnp
	
	url = https://github.com/miniupnp/miniupnp.git
